.car-container {
  width: 300px;
  height: 275px;
  border: 1px solid #d3d3d3;
  background-color: white;
  font-size: 20px;
  float:left; 
  margin-right:50px;
  margin-top:25px;
  margin-bottom:25px;
  padding:20px;
  text-align:center;
}

.car-container img{
  width:75px;
  height:75px;
}

.car-container .btn{
  font-size:14px;
  text-align:center;
  margin:10px;
}

.car-container span{
  text-transform: capitalize;
}
