@media (min-width: 1200px) {
  .container {
    width: 1600px;
  }
}
h2 {
  text-align: center;
}

.layout {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.login-container {
  max-width: 420px;
  margin: 0 auto;
  margin-top: 40px;
  padding:10px;
}

.login-form-button {
  width: 100%;
}

.hero {
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 450px;
}

@media(min-width:768px){
  .hero{
    height: 800px;
  }
}

.hero-text{
  text-align: center;
    position: relative;
    margin: 0 auto;
    color: white;
    padding:10px;
    top:5%;
}

@media(min-width:768px){
  .hero-text {
    padding:50px;
    width:50%;
    top:20%;
    background-color:#F4F7F6;
    color: #001730;
  }
}

.hero-border{
  padding:50px;
  border:3px solid #001730;

}
.hero-h1 {
  font-size: 30px;
}
.hero-h2 {
  font-size: 26px;
} 




@media(min-width:768px){
  .hero-h1 {
    font-size: 50px;
  }

  .hero-h2{
    font-size:42px;
  }
}

.hero-button {
  margin-top: 10%;
  font-size: 24px;
  height: 70px;
  background-color: #001730;
  border-color: #001730;
  color: white;
  line-height: 1.4;
  padding: 16px 24px;
  line-height: 30px;
}

@media(min-width:768px){
  .hero-button {
    font-size: 40px;
  }
}

.icons {
  height: 600px;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.icons h2 {
  text-align: center;
  padding-bottom: 50px;
}
.icon {
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom:30px;
}

@media(min-width:768px){
  .icons{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .icon{
    width: 33%;
  }
}

.icon-single {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color:#001730;
}

.icon-text {
  margin-top: 20px;
  font-size: 20px;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #ffffff;
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  background-color:#001730;
  height: 5px;
}

.ant-carousel .slick-slide h3 {
  color: #222;
}

.icon-single i {
  color:#001730;
  width: 150px;
  height: 150px;
  margin: auto auto;
  margin-top: 37.5px;
  font-size: 75px;
}



.icons-text {
  width: 100%;
  margin: 0 auto;
  display: block;
  border-bottom: 2px solid #ebebeb;
  padding: 100px 0px;
}


@media(min-width:768px){
  .icons-text{
    width: 70%;
    display: flex;
    border-top: 2px solid #ebebeb;

  }

  .icons-text--container {
    width: 50%;
  }
  
  .icons-text--button {
    width: 50%;
  }
}

.services-list ul {
  text-align: center;
  width: 100%;
  display: inline-block;
  padding:0;
}

@media(min-width:768px){
  .services-list ul {
    width: 49%
  }
}
.services-list li {
  list-style: none;
}

.services-list {
  width: 100%;
  padding: 10% 0;
  font-size: 20px;
  line-height: 30px;
  background-color: #292b32;
  color: #545a77;
}

.services-list ul h2 {
  color: #bbc2dc;
  margin-bottom: 25px;
}

.services-carousel {
  padding: 10px;
  background-color: #F4F7F6;
  text-align: center;
  padding-bottom:10%;
}

.service-container {
  background-color: white;
  width: 50%;
  margin: 0 auto;
  display: flex;
}

.service-container img {
  margin: 30px 0px;
  margin-left: 30px;
  width: 30%;
  height: 100%;
  float: left;
}

.service-body {
  padding: 30px;
  line-height: 30px;
}


.service-body h3 {
  color: black;
}

.services-carousel .ant-carousel {
  width: 100%;
  margin: 0 auto;
  background-color: #F4F7F6;
  border: 3px solid #001730;
  
}

.ant-carousel .slick-dots li.slick-active button {
  color: black;
}

.services-carousel h3{
  padding-bottom:50px;
}

.services-carousel .hero-button{
  font-size:20px;
}

@media(min-width:768px){
  .services-carousel {
    padding: 100px;
    margin:5%;
  }
  
  .services-carousel .ant-carousel {
    width: 60%;
  }
}

footer {
  background-color: #333535;
  padding:10% 0;
  color: white;
}

.footer-container {
  display:inline-block;
  margin: 0 auto;
  text-align:center;
}

footer h2, h3 {
  color:white;
}

.footer-container h2{
  margin-bottom:50px;
}

footer ul li {
  list-style: none;
  display: inline;
  padding-right: 10px;
}

footer ul{
  padding-left:0;
}

.footer-signup {
  width:100%;
  display:inline-block;
  margin: 0 auto;
  text-align:center;
}

@media(min-width:768px){
  .footer-signup{
    width:50%;
  }

  footer{
    display:flex !important;
    padding:5% 0;
  }
}

.home .icons .icon-single i svg {
  color: white;
}

.footer-social svg {
  color:white;
  font-size:30px;
  margin:10px;
}

.ant-btn:hover, .ant-btn:focus{
  color: rgba(18, 22, 67, 1);
  border:1px solid rgba(18, 22, 67, 1);
}

.modal-dialog .close{
  position:absolute;
  right:10px;
  font-size:40px;
  color:red;
  opacity:.8;
}

.modal-content{
  padding: 0 20px;
}

.ant-layout-header{
  height:67px;
}


.popupLink{
  border:0;
  background:none;
  color:white;
}

.popupLink:hover{
  background:none;
  border:none;
  border-bottom:1px solid white;
  color:white;
}

.footerLogo img{
  width:200px;
  height:100px;
  margin: 0 auto;
}

.footer-container{
  width:100%;
}

.footer-social svg{
  font-size:40px;
}

.footer-social .anticon{
  width: auto;
  height: auto;
}

.anticon-menu-fold{
  margin-left:0 !important;
}

@media(min-width:768px){
  .footerLogo img{
    width:300px;
    height:150px;
  }

  .footerLogo{
    width:50%;
  }

  .footer-container{
    display:flex;
    width:1440px !important;
    margin-left: 0 auto;
    margin-right:0 auto;
  }

  .footer-social{
    margin-top:50px;
    width:50%;
  }

  .footer-social svg{
    font-size:30px;
  }
}
