.chat__container {
  width: 100%;
  height: 100%;
  display:block;
}

/* .chatIcons {
  width: 10%;
  float: left;
  margin-top: 10px;
  display: inline;
} */

.chat__box {
  width: 100%;
  height: 300px;
  position: relative;
  padding: 10px;
  border: 1px solid grey;
  background-color:white;
  
}
.chat__form {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10px;
  height:41px;
  padding:5px;
  display:block;
}

.chat__form input{
  width:100%;
}

.chat-form-button{
  background-color:#1890ff;
  color:white;
  margin-left:0;
  height:40px;
  border-radius:4px;
}



.conversationBox {
  position: relative;
  width: 100%;
  height: 240px;
  top: 0;
  overflow-y: scroll;
  overflow-x:hidden;
}

.conversationBox p {
  border: 2px solid lightgreen;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.time {
  font-size: 8px;
  color: grey;
  float: right;
}

.chat__form .ant-form-item{
  margin-bottom:10px;
}

.chat__details h2{
  text-align:left;
}

.chat__details{

  border-left:2px solid #f4f7f6 ;
  font-size:20px;
  margin-top:70px;

}

.chat__details button {
  width:100%;
  margin-bottom:20px;
}



.ant-rate svg{
  color: default !important;
}




@media(min-width:768px){
  .chat__box{
    width:50%;
    height: 500px;

  }
  .chat__container{
    display:flex;
  }
  .chat__form{
    display:flex;
  }
  .chat__form input{
    width:100%;
  }
  .chat__box .chat-form-button {
    width: 100%;
    height:40px;
    margin-left:10px;
  }
  .conversationBox{
    height:410px;
  }
  .chat__details{
    width:50%;
    margin-left: 5%;
    padding-left:5%;
    text-align:right;
  }

  .chat__details h2{
    text-align:right;
  }

  .chat__details button {
    width:auto;
    margin-bottom:0px;
  }
}

/* .chatIcon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-color: grey;
  clear: both;
  margin: 5px;
} */
/* 
.chatIcon:hover {
  background-color: #1890ff;
  color: white;
} */