.app-content {
  margin-top: 64px;
  width: 100%;
  margin: 0 auto;
}

.transparent {
  background-color:transparent !important;
}

.pac-container{
  z-index: 9999999;
}

body {
  font-family: "Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif";
  overflow-x: hidden;
}

.job-container {
  width: 100%;
  border: 1px solid #d3d3d3;
  background-color:white;
  position:relative;
  margin-bottom:10px;
}

.job-container .btn{
  margin-right:10px;
  width:50%;
}

.hiddenJobs-container,
.currentJobs-container,
.activeJobs-container,
.newJobs-container {
  clear:both;
}

.jobs-container{
  display:block;
  text-align:center;
}

.job-container .btn-danger {
  width:100%;
}

.job-container h2 {
  text-align:center;
  width:100%;
}

.job-container .btn{
  width:100%;
  margin-bottom:10px;
}

h1 {
  clear: both;
}

.special{
  position:absolute !important;
  top:20px;
  right:20px;
}

.offer-container img{
  width:50%;
  max-width:200px;
  border-radius:100%;
  height:auto;
  padding :20px;
  padding-top:0px;
}

.offer-container{
  width:100%;
  padding:10px;
  text-align:center;
}

@media(min-width:768px){
  .offer-container img{
    float:left;
  }
  .offer-container{
    text-align:left;
  }

  .job-container h2 {
    text-align:left;
    width:80%;
  }

  .job-container {
    padding:20px;
    text-align:left;
  }

  .job-container .btn-danger {
    margin-right: 10px;
    width:100%;
  }

  .active-jobs .job-container .btn-danger{
    width:auto;
    position:absolute;
    top:30px;
    right:0;
  }

}

.rating-star svg{
  color:#ffe234;
  width:20px;
  height:20px;
  vertical-align:sub;
}

.ratingBackground{
  padding:10px;
}

.services-menu{
  padding-left:0;
  list-style-type: none;
}

.services-menu li{
  display:inline-block;
  padding:10px;
  padding-left:0;
}

.location-search-input{
  width:100%;
  padding: 4px 11px;
  margin-bottom:4px;
  min-height:32px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius:4px;
  line-height:1.5px;
}

.unreadMessages{
  background-color: #d9534f;
  color:white;
  border:1px solid #d43f3a;
  padding:10px;
  width:1140px;
  margin: 0 auto;
}

.anticon{
  vertical-align:middle;
  margin-left:10px;
  width:15px;
  height:15px;
}

.job-container .anticon{
    margin-right:10px;
}

.anticon-delete{
  vertical-align:middle;
}

.trashIcon{
  font-size:20px;
  line-height:14px !important;
  width:20px;
}

.footer-popups{
  margin-top:30px;
}